.header{padding:30px 30px 0;margin-bottom:10px;}
.header h1{font-size:1.6rem;margin:0;margin-bottom:30px;}
.header p{font-size:1rem;}
.image-gallery{display:flex;flex-wrap:wrap;justify-content:space-between;padding:30px 30px 0;margin-bottom:10px;}
.image-gallery img{width:30%;margin-bottom:20px;border-radius:5px;}
.image{display:flex;flex-wrap:wrap;justify-content:space-between;padding:30px 30px 0;margin-bottom:10px;}
.image img{width:100%;margin-bottom:20px;border-radius:5px;}
.image-ind{display:flex;flex-wrap:wrap;justify-content:space-between;padding:30px 30px 0;margin-bottom:10px;}
.image-ind img{margin-bottom:20px;border-radius:5px;}
.content_wrap{min-height:100vh;}
.content_wrap .text{padding:80px 30px;}
.content_wrap .text h2{font-size:1.2rem;font-weight:bold;margin-bottom:50px;}
.content_wrap .text h2 span{font-size:0.8rem;font-weight:normal;}
.content_wrap .text p{font-size:0.9rem;}
.content_wrap .text a{text-decoration:none;color:#000;margin-right:10px;}

@media screen and (max-width:768px){
    .content_wrap .text a{color:#fff;}
}