.content_wrap {
    padding:50px;
    margin-bottom:100px;
}
.btn-back {
    color: #fff;
    width: 100%;
    padding: 15px;
    background: #000;
    font-size: 18px;
    border: 1px solid #000;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    cursor: pointer;
}
