.content_wrap {
    margin-bottom: 100px;
}
.header {
    padding: 30px 30px 0;
    margin-bottom: 10px;
}
.header h1 {
    font-size: 1.6rem;
    margin: 0;
    margin-bottom: 30px;
}
.header p {
    font-size: 1rem;
}
.dt {
    margin-bottom: 10px;
    display: block;
}
.image {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px 30px 0;
    margin-bottom: 100px;
}
.image img {
    width: 70%;
    margin-bottom: 20px;
    border-radius: 5px;
}
.news_content {
    padding: 30px 30px 0;
    margin-bottom: 100px;
}
.news_content img {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 5px;
}
.pagination {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.pagination a {
    display: inline-block;
    padding: 10px 15px;
    margin: 0 5px;
    text-decoration: none;
    color: #333;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.pagination a:hover {
    background-color: #f4f4f9;
}

.pagination a.active {
    background-color: #2c3e50;
    color: #fff;
    pointer-events: none;
}

@media screen and (max-width:768px){
    .pagination a {
        color: #ddd;
        border: 1px solid #ddd;
    }
}