.header{padding:30px 30px 0;margin-bottom:10px;}
.header h1{font-size:1.6rem;margin:0;margin-bottom:30px;}
.header h1 span{box-shadow:inset 0 -20px 0 rgba(255,235,59,0.7);}
.header p{font-size:1rem;color:#000;}
.image-gallery{display:flex;justify-content:space-between;padding:30px 30px 0;margin-bottom:10px;}
.image-gallery img{width:30%;border-radius:5px;}
.pricing-table{padding:30px 30px 80px;}
.pricing-row{display:flex;justify-content:space-between;padding:10px 0;}
.pricing-row span{font-size:1rem;}
.pricing-row span.desc{display:block;}
.pricing-row span.mangdesc{display:block;padding:0 0 0 40px;}
.price{font-weight:bold;}
.content_wrap{min-height:500px;}
.title{font-size:1.2rem;padding:30px 30px 0px;}
.info{padding:0 30px 0 50px;}
.info li{margin-bottom:10px;}
.btns{padding:30px;text-align:center;}
.btn-back{background-color:#000;color:#fff;padding:10px;border-radius:10px;text-decoration:none;width:90%;font-size:18px;}

@media screen and (max-width:768px){
    .btn-back{background-color:#fff;color:#000;}
}