.content_wrap {
    margin-bottom:100px;
    position: relative;
}
.form-group {
    padding:30px;
    font-size: 12px;
}
.form-group label {
    font-size: 14px;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}
.form-group label p {
    font-size: 12px;
    font-weight: normal;
    margin-top: 5px;
}
.form-group .required {
    color: red;
    font-size: 18px;
}
.form-group input {
    width: 94%;
    padding: 10px;
    margin-top: 5px;
    background-color: #eee;
    border: 1px solid #eee;
    border-radius: 5px;
}
.form-group input[type="radio"] {
    width: auto;
    margin-top: 0px;
    vertical-align: text-bottom;
}
.form-group input[type="checkbox"] {
    width: auto;
    margin-top: 0px;
    vertical-align: text-bottom;
}
.form-group .small {
    width: 30%;
    display: inline-block;
}
.form-group .medium {
    width: 60%;
    display: inline-block;
}
.form-group .address {
    width: 70%;
}
.form-group .address_btn {
    width: 23%;
    line-height: 15px;
    background: #000;
    color: #fff;
}
.form-group ul {
    list-style: none;
    padding: 0;
}
.form-group ul li {
    margin-bottom: 10px;
    line-height: 18px;
}
.form-group .ml22 {
    margin-left: 22px;
}
.form-group .radio_wrap {
    display: flex;
    flex-wrap: wrap;
}
.form-group ul label, .form-group .radio_wrap label {
    font-size: 12px;
    font-weight: normal;
    min-width: 30%;
    margin-right: 10px;
    margin-bottom: 10px;
}
.form-group a {
    color: #000;
    text-decoration: none;
}
.btns {display:flex;justify-content:space-between;}
.btn-submit {
    color: #fff;
    width: 70%;
    padding: 15px;
    background: #000;
    font-size: 18px;
    border: 1px solid #000;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    cursor: pointer;
    margin-right: 5px;
}
.btn-back {
    color: #fff;
    width: 30%;
    padding: 15px;
    background: #ebc231;
    font-size: 18px;
    border: 1px solid #ebc231;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    cursor: pointer;
}