/* 기본 초기화 */
body,html{margin:0;padding:0;box-sizing:border-box;font-family:Arial,sans-serif;background-color:#000;}
.container{display:flex;justify-content:center;align-items:center;height:100vh;overflow:hidden;position:relative;}
/* 전체 배경 */
.background{display:flex;flex-direction:row;width:100%;height:100%;position:relative;}
/* 왼쪽 배경 */
.background-left{flex:1;background-color:black;color:white;padding:20px;padding-left:400px;display:flex;flex-direction:column;justify-content:space-between;}
.background-left h1{font-size:45px;line-height:1.4;}
.background-left .badges{margin-bottom:10px;}
.background-left .badges span img{vertical-align:middle;}
.background-left .badges span{display:inline-block; padding:5px;background:#000;border-radius:10px;color:white;line-height:25px;border:1px solid #fff;}
/* 중앙 모바일 박스 */
.mobile-box{width:460px;background-color:white;box-shadow:0 10px 30px rgba(0,0,0,0.3);overflow:auto;z-index:10;position:relative;}
.mobile-box::-webkit-scrollbar{display:none;}
.mobile-box{-ms-overflow-style:none;scrollbar-width:none;}
/* 푸터 */
.footer{position:fixed;bottom:0;width:460px;border-top:1px solid #ddd;padding-top:10px;background:#fff;}
.footer nav{display:flex;justify-content:space-around;padding:10px;}
.footer nav a{text-decoration:none;color:black;font-size:14px;text-align:center;}
.footer nav a img{display:block;margin:0 auto;}
/* 오른쪽 배경 */
.background-right{min-width:20%;}
/* 반응형 조정 */
@media screen and (max-width:768px){
    .background-left,.background-right{display:none;}
    .mobile-box{width:100%;border-radius:0;background-color: #000;color: #fff;}
    .footer{width:100%;}
}
