/* 기본 초기화 */
body,html{margin:0;padding:0;box-sizing:border-box;font-family:Arial,sans-serif;background-color:#000;}
.container{display:flex;justify-content:center;align-items:center;min-height:100vh;position:relative;}
/* 전체 배경 */
.background{display:flex;flex-direction:row;width:100%;height:100%;position:relative;}
/* 왼쪽 배경 */
.background-left{width:400px;min-width:400px;flex:1;background-color:rgb(0, 0, 0);color:white;padding:20px;padding-left:400px;display:flex;flex-direction:column;justify-content:space-between;}
.background-left h1{font-size:45px;line-height:1.4;}
.background-left .badges{margin-bottom:10px;}
.background-left .badges span img{vertical-align:middle;}
.background-left .badges span{display:inline-block; padding:5px;background:#000;border-radius:10px;color:white;line-height:25px;border:1px solid #fff;}
/* 중앙 모바일 박스 */
.mobile-box{width:460px;min-width:460px;height:100vh;min-height:100vh;background-color:white;box-shadow:0 10px 30px rgba(0,0,0,0.3);overflow:auto;z-index:10;position:relative;box-sizing: border-box;padding-bottom: 100px;}
.mobile-box::-webkit-scrollbar{display:none;}
.mobile-box{-ms-overflow-style:none;scrollbar-width:none;}
/* 푸터 */
.footer{position:fixed;bottom:0;width:460px;border-top:1px solid #ddd;padding-top:10px;background:#fff;}
.footer nav{display:flex;justify-content:space-around;padding:10px;}
.footer nav a{text-decoration:none;color:black;font-size:14px;text-align:center;}
.footer nav a img{display:block;margin:0 auto;}
/* 오른쪽 배경 */
.background-right{min-width:20%;}
/* 반응형 조정 - background-left 먼저 사라지게 */
@media screen and (max-width:1266px){
    .background-left{display:none;}
    .mobile-box{width:460px; max-width: 460px;}
    .footer{width:460px; max-width: 460px;}
}
/* 반응형 조정 */
@media screen and (max-width:768px){
    .background-left,.background-right{display:none;}
    /* 20251122 강동위 수정 - 모바일 화면에서 검정바탕에 흰색 글씨로 나오는거 웹 화면과 동일하게 수정 */
    /* .mobile-box{width:100%;border-radius:0;background-color: #000;color: #fff;} */
    .mobile-box{width:100%;height:100%;border-radius:0; }
    .footer{width:100%;transform:none;}
    .background-right{display: none;};
}
/* 반응형 조정 */
@media screen and (max-height:1024px){
    .mobile-box{width:100%;border-radius:0;height:1024px;min-height:1024px;}
    /* .footer{position:fixed;width:460px;left:0;transform:none;} */
}